<script>
  (function(elements) {
    var elements = Array.prototype.slice.call(document.getElementsByClassName('baseline-fix'));
    for (var i = 0; i != elements.length; i++) {
      var el = elements[i];
      el.innerHTML = el.innerHTML.replace(/[\u2000-\u206e⸀-\u2e7e⺀-\u2efe⼀-\u2fde⿰-\u2ffe\u3000-〾\u3040-ゞ゠-ヾ\u3100-\u312e\u3130-ㆎ㆐-㆞ㆠ-\u31be㇀-\u31eeㇰ-ㇾ㈀-㋾㌀-㏾㐀-\u4dbe一-\u9ffe\ua960-\ua97e가-\ud7ae\ud7b0-\ud7fe豈-\ufafe︰-﹎\uff00-￮]|[\ud840-\ud868\ud86a-\ud86c][\udc00-\udfff]|\ud82c[\udc00-\udcfe]|\ud869[\udc00-\udede\udf00-\udfff]|\ud86d[\udc00-\udf3e\udf40-\udfff]|\ud86e[\udc00-\udc1e]|\ud87e[\udc00-\ude1e]/g, function (ch) {
        return '<span class="baseline-fix-block">' + ch + '<' + '/span>';
      });
      el.classList.remove('baseline-fix');
    }
  })(Array.prototype.slice.call(document.getElementsByClassName('baseline-fix')));
</script>
