@charset "utf-8";

$font-size: 18px;

// Dimensions
$content-width: 680px;
$spacing-unit: 32px;

@import "kagami/theme";
@import "kagami/scut";
@import "kagami/reset";
@import "kagami/utility";
@import "kagami/typeface";
@import "kagami/layout";
@import "kagami/typography";
