---
layout: default
---

{% include header.html %}

<ul class="post-list">
  {% for topic in site.data.topics %}

    {% assign posts = site.posts %}
    {% assign posts = posts | where_exp: "post", "post.topic == topic.id "%}
    {% if posts %}
      {% if posts.size > topic.size %}
        {% assign posts = posts | slice: 0, topic.size %}
      {% endif %}
    {% endif %}

    {% if posts and posts.size > 0 %}
      {% if topic != site.data.topics[0] %}
      <div class="post-list-delimiter"></div>
      {% endif %}
      <li class="post-list-group-header" data-tags="{{ topic.name }}">
        <a href="{{ topic.id | url_encode | prepend: "/topic/" | relative_url }}">—— {{ topic.name }} ——</a>
      </li>
      {% for post in posts %}
      {% include post-list-item.html %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
