---
layout: default
---

{% include header.html %}

<ul class="post-list">
  {% for recent_item in site.data.recent %}

    {% assign posts = site.posts %}
    {% assign posts = posts | where_exp: "post", "post.categories contains recent_item.id "%}
    {% if posts %}
      {% if posts.size > recent_item.size %}
        {% assign posts = posts | slice: 0, recent_item.size %}
      {% endif %}
    {% endif %}

    {% if posts and posts.size > 0 %}
      {% if recent_item != site.data.recent[0] %}
      <div class="post-list-delimiter"></div>
      {% endif %}
      <li class="post-list-group-header" data-tags="{{ recent_item.name }}">
        <a href="{{ recent_item.id | url_encode | prepend: "/category/" | relative_url }}">—— {{ recent_item.name }} ——</a>
      </li>
      {% for post in posts %}
      {% include post-list-item.html %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
