---
layout: default
---

{% include header.html %}

<ul class="post-list">
  {% for topic in site.data.topics %}

    {% assign posts = site.posts %}
    {% assign posts = posts | where_exp: "post", "post.topic == topic.id "%}
    {% if posts %}
      {% if posts.size > topic.size %}
        {% assign posts = posts | slice: 0, topic.size %}
      {% endif %}
    {% endif %}

    {% if posts and posts.size > 0 %}
      {% if topic != site.data.topics[0] %}
      <div class="post-list-delimiter"></div>
      {% endif %}
      <li class="post-list-group-header" data-tags="{{ topic.name }}">
        <a href="{{ topic.id | url_encode | prepend: "/topic/" | relative_url }}">—— {{ topic.name }} ——</a>
      </li>
      {% for post in posts %}
      <li class="post-list-item" data-tags="{{ post.tags | join: " " }}">
        {% if post.cover_url %}
        <div class="post-item-cover" style="background-image: url('{{ post.cover_url }}')"></div>
        {% endif %}
        <div class="post-item-label">
          <a class="post-item-link baseline-fix" href="{{ post.url | relative_url }}" data-date="{{ post.date | date: "%m-%d"  }}">
            {{ post.title | escape }}
          </a>
          {% if post.description %}
          <p class="post-description">{{ post.description }}</p>
          {% endif %}
          <div class="post-item-meta">
            {{ post.date | date: "%B %-d, %Y" }}
            /
            {% capture lang %}{{ post.lang | default: site.lang | default: "en" }}{% endcapture %}
            {% if lang == "en" %}
            {% capture words %}{{ post.content | strip_html | number_of_words  }}{% endcapture %}
            {% else %}
            {% capture words %}{{ post.content | strip_html | size }}{% endcapture %}
            {% endif %}
            {% unless words contains "-" %}
            {{ words | plus: 250 | divided_by: 250 | append: " minute read"  }}
            {% endunless %}
          </div>
        </div>
      </li>
      {% endfor %}
    {% endif %}
  {% endfor %}
</ul>
